# -----------------------------
# Python Virtual Environment
# -----------------------------
Include/
Lib/
Scripts/
pyvenv.cfg
venv/
.env/
.envrc

# -----------------------------
# Python Cache Files
# -----------------------------
__pycache__/
*.py[cod]
*$py.class

# -----------------------------
# VS Code
# -----------------------------
.vscode/

# -----------------------------
# OS Files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# Build / Distribution
# -----------------------------
build/
dist/
*.egg-info/

# -----------------------------
# Testing
# -----------------------------
.coverage
htmlcov/
.pytest_cache/